[submodule "extern/gxbuild3"]
	path = extern/gxbuild3
	url = https://github.com/ExposureMG/gxbuild3.git
[submodule "extern/stfs"]
	path = extern/stfs
	url = https://github.com/erorndev/stfs.git
[submodule "extern/UpdClient"]
	path = extern/UpdClient
	url = https://github.com/ExposureMG/UpdClient.git
